<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table class = center cellpadding = "5" cellspacing = "5">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th>Credit Card</th>
        <th>CVV</th>
        <th>Date</th>
    </tr>
    {{#purchased}}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <th>{{cvv}}</th>
        <th>{{date}}</th>
    </tr>
    {{/purchased}}
</table>

</body>
</html>